@media screen and (min-width: 1680px)  {

  .landingWrapper {
    width: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
    background-color: #FAFAFA;
  }

}

@media screen and (max-width: 768px)  {

  .menu {
    width: 100vw;
    height: 42px;
  }

  p {
    font-size: 16px;
    line-height: 26px;
  }

  h2 {
    font-size: 30px;
    line-height: 39px;
  }

  .logo {
    width: 58px;
    height: 16px;
  }

  section.part {
    width: 768px;
    height: 1024px;
    display: flex;
  }

  section.text {
    position: relative;
    top: 134px;
    left: 114px;
    width: 342px;
  }

  .line {
    height: 4px;
    width: 22px;
    margin-top: 44px;
  }

  .picture-1 {
    height: 542px;
    width: 540px;
    top: 482px;
    background-size: cover;
    overflow: hidden;
    position: relative;
    left: -155px;
  }

  .pictures {
    margin: auto;
    margin-top: 456px;
  }

  .picture-2 {
    width: 643px;
    height: 403px;
    top: 506px;
    margin-left: -380px;
    overflow: hidden;
  }

  .right .text {
    margin-top: -60px;
    margin-left: -312px;
    left: -114px;
  }

  .center section {
    margin-top: 184px;
  }

  .button {
    width: 214px;
    height: 36px;
    line-height: 36px;
    font-size: 12px;
    margin-top: 94px;
  }

  .share {
    top: 9px;
  }

}
